<div class="wrapper">
  <div id="map" #map></div>
  <pickup 
    [map]="mapData" 
    [isPinSet]="isMapIdle"
    [isPickupRequested]="isPickupRequested"
    [destination]="destination"
    (updatedPickupLocation)="updatePickupLocation($event)"
    [isRiderPickedUp]="isRiderPickedUp">
  </pickup>
  <available-cars
    [map]="mapData" 
    [isPickupRequested]="isPickupRequested">
  </available-cars>
  <pickup-car
    [map]="mapData"
    [isPickupRequested]="isPickupRequested"
    [pickupLocation]="currentLocation"
    [destination]="destination"
    [isRiderPickedUp]="isRiderPickedUp"
    #pickupCar>
  </pickup-car>
</div>