<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [hidden]="!isPickupRequested" (click)="cancelPickUp()">
        <ion-icon name="arrow-back" color="dark"></ion-icon>
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-title>
      <span [hidden]="isPickupRequested">PickMeUp</span>
      <span [hidden]="!isPickupRequested">On the way...</span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="map.centerLocation()">
        <ion-icon ion-icon name="navigate" color="dark"></ion-icon>
        
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="home">

  <div class="map-wrapper">
    <app-map 
    #map 
    [isPickupRequested]="isPickupRequested"
    [destination]="destination"
    [isRiderPickedUp]="isRiderPickedUp">
    </app-map>
    <destination-address
    [hidden]="isRiderPickedUp"
    (newDest)="setDestination($event)">
    </destination-address>
  </div>

  <div class="bottom request-controls">
    <price 
    [isPickupRequested]="isPickupRequested"
    [destination]="destination">
    </price>
    <driver-info
    [isPickupRequested]="isPickupRequested"
    [hidden]="isCarReady">
    </driver-info>
    <ion-card [hidden]="!isCarReady">
      <!-- <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle> -->
      <ion-header>
        <ion-toolbar>
          <ion-title>Waiting For Driver...</ion-title>
          <!-- <ion-label>{{(showDriverInfo()).nombre}}</ion-label> -->
        </ion-toolbar>
      </ion-header>
      <ion-card-content>
<!--     
          <ion-text>
            <h1>3000 CLP</h1>
          </ion-text> -->
    
        
      </ion-card-content>
    </ion-card>
    <!-- <ion-row>
      <ion-col width-50>
        <ion-button expand="block" color="light">
          <ion-icon name="card"></ion-icon>
          Visa **34
        </ion-button>
      </ion-col>
      <ion-col width-50>
        <ion-button expand="block" color="light">
          <ion-icon name="cash"></ion-icon>
          Cash
        </ion-button>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col>
        <ion-button [hidden]="isPickupRequested || !destination" (click)="confirmPickUp()" expand="block" color="dark">
          Request Pickup
        </ion-button>
        <ion-button [hidden]="!isPickupRequested" (click)="cancelPickUp()" expand="block" color="warning">
          Cancel Pickup
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row [hidden]="isPickupRequested || !destination">
      <ion-col>
        PICKUP TIME IS APPROXIMATELY {{timeTillArrival}} MIN
      </ion-col>
    </ion-row>
  </div>
</ion-content>